{% extends 'base_sub_nav.html' %}


{% block content %}

<div class="container mt-5">


    <div class="row">
        <div class="col-0">
       
        </div>

        <div class="col-12">
           <img src="/static/password_reset_done.jpg">
        </div>

        
    </div>
</div>

<div class="container mt-5">


    <div class="row">
    	<div class="col-5">
    		
    	</div>

    	<div class="col-7">
    		<a href="{% url 'common:login' %}" role="button" class="btn btn-lg btn btn-primary">로그인하러 가기</a>
    	</div>
    </div>
</div>
{% endblock %}