{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row m-2">
    <div class="col-md-10">
  {% include 'form_errors.html' %}
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row m-2">
    <div class="col-md-10">
<div class="card">
  <div class="card-header">
    비밀번호 찾기 - 회원가입시 입력한 이메일을 입력해 주세요! 
  </div>
  
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <form method="POST">
  {% csrf_token %}
  <label for="id_email">Email:</label>
  <input type="email" name="email" required>
  <button type="submit" class="btn btn-success">비밀번호 찾기</button>
</form>
    
      <footer class="blockquote-footer m-2">법률나라 <cite title="Source Title"> </cite></footer>

    </blockquote>
  </div>
</div>
</div>
</div>
</div>



{% endblock %}