{% extends 'base_sub_nav.html' %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
<div class="card text-center m-5">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">회사소개</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">이용약관</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">개인정보처리방침</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">광고문의</a>
      </li>
    
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title text-left">-법률나라-</h5>
    <p class="card-text text-left">본 싸이트는 현재 베타버전으로 추후 정식 서비스로 출범될 예정에 있습니다.</p> 
    <p class="card-text text-left">이용에 불편한 점이 있으시면 아래 카카오톡 아이디 또는 이메일로 연락주시면 됩니다. </p>
    <p class="card-text text-left">카카오톡 ID : qwerty252525, 이메일 : helplaw911@hanmail.net</p>
  </div>
</div>


{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
